body {
    margin: 0;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

ul li.header {
}

ul li {
    padding: 5px 15px;
}

ul li.item {
    cursor: pointer;
}

ul li.item:hover {
    background-color: #eeeeee;
}

.alert {
    text-align: center;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}
